body,
#gameboards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameboards {
  display: flex;
  gap: 4rem;
}

.row {
  display: flex;
}

.row > div {
  border: 1px solid red;
  width: 32px;
  height: 32px;
}
